<div class="container">
  
   <div class="row">
	<h2>Weather app</h2>
        <div class="input-field col s12 m6">
          <input id="last_name" class="validate" [(ngModel)] = "searchStr" (change) = "onChange()"
          (keypress) = "onKeyPress()">
          <label for="last_name" class = "active">Choose city:</label>
        </div>
        <div class="input-field col s12 m6">
        	<a class="waves-effect waves-light btn"
        	[ngClass] = "{'error': isError}"
        	(click) = "onErrBtnClick()"
        	><i class="material-icons right">close</i>City not found
        	</a>
        </div>
   </div>

  <div class="row">
   <app-city 
    *ngFor = "let c of cities"
    [city] = "c"
    (onRemoveCity)="handleRemoveCity($event)"
   ></app-city>
  </div>
</div>